/*bass*/
html {
}

body {
  background-image: url("../images/bg.png");
  background-repeat: repeat;;
  background-size: auto;
  background-color: #F2ECDE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #50616D;
}

img {
  border: 0;
}

a {
  color: #50616D;
  /*text-decoration: none;*/
  outline-style:none;
}

a:hover, a:focus {
  /*text-decoration: none;*/
}

.clear {
  *zoom: 1
}

.clear:before,.clear:after {
  display: table;
  content: ""
}

.clear:after {
  clear: both
}

.hidden {
  display: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.base-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.base-info-header {
  display: flex;
  width: 100%;
  height: 80px;
}

.avatar {
  width: 80px;
  flex-shrink: 0;
  border-radius: 50%;
}

.base-info-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.base-info-header-content p {
  margin: 0;
}

.name {
  font-weight: bolder;
}

.base-info-other {
  /*flex: 1;*/
  margin-top: 16px;
}

.base-info-other-link {
  display: flex;
  justify-content: space-between;
}

.base-info-other address {
  line-height: 1.5em;
}

.wechat-channel-figure {
  display: none;
}

.main-info {
  width: 100%;
}

.personal-project-card {
  border: 1px solid #F2ECDE;
  background-color: #F2ECDE;
}

.stats-image, .top-langs-image, .repo-image {
  width: 100%;
}

.card-title, .project-title {
  padding: 0 20px;
}

.conans-casebook-mp-card {
  position: relative;
}

.mp-code-image {
  width: 30%;position: absolute;right: 0;
}

.copyright-text {
  width: 100%;
  height: 32px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bolder;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    padding: 20px 0;
  }
  .base-info {
    padding: 0;
  }
  .base-info-header {
    height: 120px;
  }
  .avatar {
    width: 120px;
  }
  .name {
    font-size: 1.34em;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 30px 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    padding: 40px 0;
    flex-direction: row;
  }
  .base-info {
    width: 200px;
    padding: 0;
    flex-direction: column;
  }
  .base-info-header {
    height: auto;
    flex-direction: column;
  }
  .avatar {
    width: 200px;
  }
  .base-info-header-content {
    display: block;
    margin-left: 0;
  }
  .base-info-header-content  p {
    margin: 0.67em 0;
  }
  .name {
    font-size: 1.67em;
  }
  .base-info-other-link {
    flex-direction: column;
  }
  .wechat-channel-figure {
    display: block;
    margin: inherit;
    width: 200px;
  }
  .wechat-channel {
    display: block;
    width: 200px;
  }
  .wechat-channel-figcaption {
    text-align: center;
    font-size: 12px;
    margin-top: 0.67em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 50px 0;
  }
  .base-info {
    width: 300px;
  }
  .name {
    font-size: 2em;
  }
}
